

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100svw;

    > ul {
        display: flex;
        flex-direction: row;
        
        > li {
            list-style: none;
        }
    }
}