#root, *, html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.page {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}